* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: white;
}

/*header*/
header {
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}

#logo {
  text-align: center;
}

#logo img {
  width: 40%;
  height: 300px;
  padding: 0;
  margin: 0;
}

/*footer*/
footer {
  margin-bottom: -5%;
  color: white;
  background-color: rgb(192, 7, 7);
}
footer .foot ul {
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding: 15px;
  margin: 0;
  list-style-type: none;
}
footer .foot ul .foot-infor {
  width: 40%;
}
footer .foot ul .foot-contact {
  width: 27%;
}

footer .foot ul li p {
  padding: 5px;
}
footer .foot ul li h3 {
  color: black;
  padding: 5px;
}
footer .foot h3 {
  width: 70%;
  font-weight: 555;
  font-family: "Times New Roman", Times, serif;
}
footer .foot #dash-foot {
  background-color: red;
  height: 1.7px;
}
footer .foot #label-color {
  color: black;
  font-weight: 550;
}

form {
    background-color: red;
    padding: 20px;
    border-radius: 10px;
    width: 25%;
    margin: 0 auto;
    border: 5px solid black;


input{
    width: 90%;
    height: 30px;
    }

button{
    width: 90%;
    height: 50px;	
    border: 2px solid black;
    background-color: #000080;
    color: white;
    }
}

a{
   text-decoration: none;
   display: block;
   margin-top: 2%;
   margin-bot: 2%;
   text-align: center;
}
