/*header*/
header {
  background-color: #9ad9ea;
  color: black;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 20px solid #cfebdf;
  border-top: 20px solid #cfebdf;
  border-left: 30px solid #cfebdf;
  border-right: 30px solid #cfebdf;
}
#header-left,
#header-right {
  flex-basis: 50%;
}

#header-left {
  padding: 10px;
}

#header-right {
  padding: 10px;
}

#logo {
  font-weight: bold;
}
.menu {
  text-align: center;
  background-color: #6de5b1;
}
.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  display: inline-block;
  position: relative;
  border: 1px black;
}

.menu ul li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
}

.menu ul li:hover > .submenu {
  display: block;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #cfebdf;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.submenu li {
  display: block;
  padding: 10px 15px;
}

.submenu li a {
  color: #333;
  text-decoration: none;
}

#search {
  padding: 1px 10px;
  background-color: #fff;
}
/*content*/
#content-1,
#content-2 {
  width: 85%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  border-right: 1px rgb(8, 31, 32);
}

#content-2L {
  text-align: left;
  width: 40%;
  border: 2px solic #ccc;
}

#content-2R {
  text-align: left;
  width: 40%;
  border: 2px solic #ccc;
}

#hot1 {
  text-align: left;
  width: 60%;
  border-left: 5px slategray;
  padding: 10px 15px;
  border: 2px solic #ccc;
  padding: 10px;
}
#sidebar p {
  text-align: center;
  list-style: none;
}

#sidebar {
  text-align: left;
  width: 25%;
  padding: 10px 15px;
  background-color: rgb(246, 246, 241);
}
a {
  text-decoration: none;
  color: #333;
}
/*footer*/
footer {
  width: 100%;
  background-color: #cfebdf;
  color: black;
  text-align: center;
  padding: 10px;
}
